# Never commit PDFs here
*.pdf

# LaTeX build artifacts (keep .tex sources)
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# Ignore local papers folder if it ever exists
/papers/

# Ignore PDFs inside any papers folder inside submodules
external/papers/papers/*.pdf

# Allow the submodule itself
!external/
!/external/papers/
